<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login form</title>
</head>
<body>
    <form method="post" action="login">

        {% csrf_token %}
        <div  style="border: 2px block;">
            <h3>LOGIN Form</h3>

<br><br>
        <label for="email">Email : </label>
        <input type="email" id="email" name="email" required>
<br><br>
        <label for="password">Passwiord</label>
    <input type="password" name="password" id="password" title="password must be min 8 characters 1 uppercase, 1 number, minlength 8">
   <br>
        <!-- pattern="^(?=-.*[A-Za])(?=-.)" -->
        <button type="submit">Register</button>
    </form>
   
</div>
<br>
<a href="login">login</a>
</body>
</html>